@font-face {
    font-family: "SourceHanSansCN-Light";
    src: url("SourceHanSansCN-Light.eot"); /* IE9 */
    src: url("SourceHanSansCN-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("SourceHanSansCN-Light.woff") format("woff"), /* chrome、firefox */
    url("SourceHanSansCN-Light.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("SourceHanSansCN-Light.svg#SourceHanSansCN-Light") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


